body{
    background-color:#8cffff;
    padding: 20px;
    margin: 0px;
}


h1{
 background-color: rgb(28, 179, 179);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
    font-family: Century Gothic;
    font-size:xx-large;
  }

h2 {
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
    font-family: Century Gothic;
    font-size:xx-large;

  }

  h3{
    font-family: Century Gothic;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-size:x-large;
  }

h4{
    font-family: Century Gothic;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size:x-large;

}

p{
    font-family: Century sGothic;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size:x-large;
}
